@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-background {
  background-image: url(../images/Loading_bg.png);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}
.top-glow {
  box-shadow: 0px -16px 30px  #dc9935dc;
}

.friends_background {
  background-image: url(../images/friend_bg.png);
  background-size: cover; 
  background-position: center; 
  height: 100vh;
  background-repeat: no-repeat;
}
.airdrop_background {
  background-image: url(../images/friend_bg.png);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh;
}

.central-glow {
  box-shadow: 0px -5px 14px 10px  #3aa6fe7e;
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.5s ease-out;
}
